body {
}

table, td, tr{
    margin: auto;
}

#time{
    float: left;
    position: relative;
    left: 7.5%;
    top: 23%;
    font-family: 'Orbitron', sans-serif;
}
p{
    text-align: center;
    color: #85AFAD;
    font-size: 40px;
    transform: scaleY(2);
}

.screen{
    -webkit-filter: blur(1px) grayscale(.5) hue-rotate(120deg) opacity(0.5);
    position: absolute;
    left: 40%;
    top: 40%;
    height: 80px;
    width: 28%;
    text-align: center;
}

.stst{
    position: absolute;
    left: 78%;
    top: 40%;
}

.start {
    float: left;
    z-index: 999;
}

.stop {
    float: left;
    z-index: 998;
}

.reset {
    position: absolute;
    left: 78%;
    top: 48%;
}

.hide{
    visibility: hidden;
}

html {
  background: url("../assets/oldclock.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
button{
    background-color: transparent;
    color: #362E19;
    height: 50px;
    width: 70px;
    border: none;
    font-size: 24px;
    outline: none;
}

@media screen and (max-width: 1500px) {
    #time{
        float: left;
        position: relative;
        left: 7.5%;
        top: 23%;
        font-family: 'Orbitron', sans-serif;
    }
    p{
        text-align: center;
        color: #85AFAD;
        font-size: 40px;
        transform: scaleY(2);
    }

    .screen{
        -webkit-filter: blur(1px) grayscale(.5) hue-rotate(120deg) opacity(0.5);
        position: absolute;
        left: 40%;
        top: 40%;
        height: 80px;
        width: 28%;
        text-align: center;
    }

    .stst{
        position: absolute;
        left: 78%;
        top: 40%;
    }

    .start {
        float: left;
        z-index: 999;
    }

    .stop {
        float: left;
        z-index: 998;
    }

    .reset {
        position: absolute;
        left: 78%;
        top: 48%;
    }

}

@media screen and (max-width: 1450px) {
    #time{
        float: left;
        position: relative;
        left: 7.5%;
        top: 23%;
        font-family: 'Orbitron', sans-serif;
    }
    p{
        text-align: center;
        color: #85AFAD;
        font-size: 35px;
        transform: scaleY(2);
    }

    .screen{
        -webkit-filter: blur(1px) grayscale(.5) hue-rotate(120deg) opacity(0.5);
        position: absolute;
        left: 38.5%;
        top: 40%;
        height: 80px;
        width: 28%;
        text-align: center;
    }

    .stst{
        position: absolute;
        left: 78%;
        top: 40%;
    }

    .start {
        float: left;
        z-index: 999;
    }

    .stop {
        float: left;
        z-index: 998;
    }

    .reset {
        position: absolute;
        left: 78%;
        top: 48%;
    }
    button{
        background-color: transparent;
        color: #362E19;
        height: 40px;
        width: 60px;
        border: none;
        font-size: 18px;
        outline: none;
    }


}


@media screen and (max-width: 1120px) {
    #time{
        float: left;
        position: relative;
        left: 7.5%;
        top: 23%;
        font-family: 'Orbitron', sans-serif;
    }
    p{
        text-align: center;
        color: #85AFAD;
        font-size: 30px;
        transform: scaleY(2);
    }

    .screen{
        -webkit-filter: blur(1px) grayscale(.5) hue-rotate(120deg) opacity(0.5);
        position: absolute;
        left: 38.5%;
        top: 40%;
        height: 80px;
        width: 28%;
        text-align: center;
    }

    .stst{
        position: absolute;
        left: 85%;
        top: 40%;
    }

    .start {
        float: left;
        z-index: 999;
    }

    .stop {
        float: left;
        z-index: 998;
    }

    .reset {
        position: absolute;
        left: 85%;
        top: 48%;
    }
    button{
        background-color: transparent;
        color: #362E19;
        height: 40px;
        width: 60px;
        border: none;
        font-size: 18px;
        outline: none;
    }


}

@media screen and (max-width: 960px) {
    #time{
        float: left;
        position: relative;
        left: 7.5%;
        top: 23%;
        font-family: 'Orbitron', sans-serif;
    }
    p{
        text-align: center;
        color: #85AFAD;
        font-size: 28px;
        transform: scaleY(2);
    }

    .screen{
        -webkit-filter: blur(1px) grayscale(.5) hue-rotate(120deg) opacity(0.5);
        position: absolute;
        left: 38.5%;
        top: 40%;
        height: 80px;
        width: 28%;
        text-align: center;
    }

    .stst{
        position: absolute;
        left: 85%;
        top: 40%;
    }

    .start {
        float: left;
        z-index: 999;
    }

    .stop {
        float: left;
        z-index: 998;
    }

    .reset {
        position: absolute;
        left: 85%;
        top: 48%;
    }
    button{
        background-color: transparent;
        color: #362E19;
        height: 40px;
        width: 60px;
        border: none;
        font-size: 18px;
        outline: none;
    }
}

@media screen and (max-width: 900px) {
    #time{
        float: left;
        position: relative;
        left: 7.5%;
        top: 23%;
        font-family: 'Orbitron', sans-serif;
    }
    p{
        text-align: center;
        color: #85AFAD;
        font-size: 24px;
        transform: scaleY(2);
    }

    .screen{
        -webkit-filter: blur(1px) grayscale(.5) hue-rotate(120deg) opacity(0.5);
        position: absolute;
        left: 38.5%;
        top: 40%;
        height: 80px;
        width: 28%;
        text-align: center;
    }

    .stst{
        position: absolute;
        left: 90%;
        top: 40%;
    }

    .start {
        float: left;
        z-index: 999;
    }

    .stop {
        float: left;
        z-index: 998;
    }

    .reset {
        position: absolute;
        left: 90%;
        top: 48%;
    }
    button{
        background-color: transparent;
        color: #362E19;
        height: 40px;
        width: 60px;
        border: none;
        font-size: 18px;
        outline: none;
    }


}
